{% extends 'layout.html.twig' %}

{% block title %}Ressources index{% endblock %}

{% block body %}
    <h1 class="text-center pt-3">Ressources Publiques</h1>
    <div class="text-right pr-5">
    <a href="{{ path('ressources_new') }}" ><i class="text-info fas fa-plus-circle fa-5x"></i></a>
    </div>
<div class="row justify-content-center">
    {% for ressource in ressources %}

    <div class="col-4 card card-ressource mb-5 mx-2" style="width: 18rem;">
        <img src="{{ ressource.media }}" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">{{ ressource.title }}</h5>
            <p class="card-text">{{ ressource.description|length > 200 ? ressource.description|slice(0, 200) ~ '...' : ressource.description  }}
            </p>
            <a href="{{ path('ressources_show', {'id': ressource.id}) }}" class="btn btn-info">En savoir plus</a>
        </div>
    </div>


    {% else %}
  <p> Désolés, aucune ressource n'a été trouvée.</p>
    {% endfor %}
</div>


{% endblock %}
