

{% block title %}CategoriesRessources index{% endblock %}

{% block body %}
    <h1>CategoriesRessources index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categories_ressource in categories_ressources %}
            <tr>
                <td>{{ categories_ressource.id }}</td>
                <td>{{ categories_ressource.name }}</td>
                <td>
                    <a href="{{ path('categories_ressources_show', {'id': categories_ressource.id}) }}">show</a>
                    <a href="{{ path('categories_ressources_edit', {'id': categories_ressource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categories_ressources_new') }}">Create new</a>
{% endblock %}
